<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/pcm.css">
</head>

<body>
  <!-- PC 리스트 -->
  <section>
    <div class="list">
      <table border="1" cellpadding="15" cellspacing="0" align="center" width="30%">
        <caption><u>PC 관리 정보 리스트</u></caption>
        <tr style="color : black; background-color: rgb(158, 158, 158);">
          <th>Check</th>
          <th>Status</th>
          <th>Save Point</th>
          <th>Username</th>
          <th>IP address</th>
        </tr>
        <tr id="clone_tr" style="text-align: center; display: none;">
          <td class="pc_checked"><input type="checkbox" hidden></td>
          <td class="pc_status"></td>
          <td class="save_point"></td>
          <td class="pc_username"></td>
          <td class="pc_ipaddr"></td>
        </tr>
        <!-- example -->
      </table>
    </div>
  </section>
  <button onclick="retry()">새로고침</button>
  <button onclick="on()">ON</button>
  <button onclick="off()">OFF</button>
  <button onclick="modalOnOff()">SavePoint</button>
  <div id="savePointModal" class="savePointBox" style="display: none;">
    <div class="savePoint" style="background-color: rgb(213, 255, 194);" onclick="savePoint1()">시점1</div>
    <div class="savePoint" onclick="savePoint2()">시점2</div><br>
    <div style="position: fixed; top :25px; right : 45px; font-size: 32px; font-weight: bold; color : tomato; cursor: pointer;" onclick="modalOnOff(this)">X</div>
  </div> 
</body>
<script src="../js/signage.base.js"></script>
<script>
  // savePoint
  function savePoint1(){
    if (confirm('시점을 되돌리겠습니까?')) {
      console.log('test');
    } else {
      console.log('test2');
    }
  }
  function savePoint2(){
    if (confirm('시점을 저장하겠습니까?')) {
      console.log('test');
    } else {
      console.log('test2');
    }
  }
  // modal OnOff
  function modalOnOff(obj=null){
    if ( obj == null ){
      p = document.querySelector("#savePointModal");
      p.style.display = "flex";
    } else {
      obj.parentNode.style.display = "none";
    }
  }
  // PC object ON
  function on() {
    setTimeout(() => {
      let table = document.querySelectorAll(".PCobject");
      console.log(table);
      table.forEach(element => {
        element.querySelector('.pc_status').innerHTML = "ON";
      });
    }, 2000);
  }
  // PC object OFF
  function off() {
    setTimeout(() => {
      let table = document.querySelectorAll(".PCobject");
      table.forEach(element => {
        element.querySelector('.pc_status').innerHTML = "OFF";
      });
    }, 2000);
  }
  // PC object create
  let clone_tr = document.getElementById("clone_tr");
  console.log(clone_tr);
  let data = null;
  for (let i = 1; i <= 10; i++) {
    var testCloneDom = clone_tr.cloneNode(true);
    testCloneDom.querySelector('.pc_status').innerHTML = "OFF";
    testCloneDom.querySelector('.save_point').innerHTML = "test";
    testCloneDom.querySelector('.pc_username').innerHTML = "406_PC_"+i;
    testCloneDom.querySelector('.pc_ipaddr').innerHTML = "220.67.115." + (i+90);
    testCloneDom.querySelector('input').hidden = false;
    testCloneDom.removeAttribute('style');
    testCloneDom.removeAttribute('id'); 
    testCloneDom.setAttribute('class', 'PCobject');
    testCloneDom.setAttribute('style', 'text-align:center');
    document.querySelector('table').appendChild(testCloneDom);
  }
</script>


</html>